.quiz-button-outer {
    display: inline-flex;
    padding: 15px 25px;
    background-color: #E7FFF8;
    font-family: 'Raleway', sans-serif;
    font-size: 23pt;
    border: 1px solid #707070;
    border-radius: 5px; 
    justify-content: center;
    align-items: center;
}