@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Muli:wght@300&display=swap');

*{
  font-family: 'Lato', sans-serif;
}
button , h1, h3, h4, h5, h6, h6, span, div{
  font-family: 'Muli', sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-wrapper{
    display: flex;
    flex-direction: row;
    padding: 5%;
}
.switch-wrapper{
  display:flex;
  width:auto !important;
  margin:0 auto;
}
.main-page-wrapper{
  display:flex
}

