.matchpopuppage {
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.matchpopup {
    font-family: "Raleway", sans-serif;
    display: inline-flex;
    flex-direction: column;
    width: 40vw;
    height: 80vh;
    padding: 25px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #B2DFDB;
    border-radius: 15px;
    position: relative;
}

.matchpopup_comp {
    background-color: #E7FFF8;
    height: 280px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.matchpopup_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 10px;
}

.big-teal-button-box {
    width: 200px;
    justify-content: center;
}

.continuebutton {
    align-self: flex-end;
    position: relative;
    top: -78px;
}

/* INFO START */

.pop-profile_info {
    margin-left: 10%;
    position: relative;
    top: -270px;
    right: -300px;
}

.pop-profile_picture img {
    width: 200px;
    margin-left: 5%;
    border-radius: 30px;
}

.pop-profile_info_name {
    font-size: 40pt;
    padding-bottom: 20px;
}

.pop-profile_info_desc span {
    display: flex;
    flex-direction: column;
    font-size: 20pt;
    padding-bottom: 20px;
}

/* INFO END */