.signIn-button-outer {
    display: inline-flex;
    padding: 15px 25px;
    background-color: #00909B;
    font-family: 'Raleway', sans-serif;
    font-size: 23pt;
    border: 1px solid black;
    border-radius: 10px;
}